if SHIELD_ERGOARROWS_LEFT || SHIELD_ERGOARROWS_RIGHT

config ZMK_KEYBOARD_NAME
    default "ErgoArrows"

config ZMK_SPLIT
    default y

if SHIELD_ERGOARROWS_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ERGOARROWS_LEFT

endif # SHIELD_ERGOARROWS_LEFT || SHIELD_ERGOARROWS_RIGHT
