/*
 * Copyright (c) 2024 HaruStudio
 * SPDX-License-Identifier: MIT
 *
 * Helix Pico default keymap (QWERTY)
 * 50 keys total: 4 rows x 6 cols + 1 thumb key, per side
 *
 * Physical layout (key index order in map):
 * Row0(12): TAB  Q W E R T  |  Y U I O P  BSPC
 * Row1(12): LCTL A S D F G  |  H J K L ;  '
 * Row2(12): LSFT Z X C V B  |  N M , . /  RSFT
 * Row3(14): LCTL LGUI LALT LANG1 SPC LWR ENT | ENT RSE SPC LANG2 RALT RGUI RCTL
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
/* Row 0 */
&kp TAB   &kp Q &kp W &kp E &kp R &kp T        &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
/* Row 1 */
&kp LCTRL &kp A &kp S &kp D &kp F &kp G        &kp H &kp J &kp K     &kp L   &kp SEMI &kp SQT
/* Row 2 */
&kp LSHFT &kp Z &kp X &kp C &kp V &kp B        &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
/* Row 3 (7 keys per side) */
&kp LCTRL &kp LGUI &kp LALT &kp LANG1 &kp SPACE &mo LOWER &kp RET    &kp RET &mo RAISE &kp SPACE &kp LANG2 &kp RALT &kp RGUI &kp RCTRL
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
/* Row 0 */
&kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5        &kp N6    &kp N7    &kp N8    &kp N9   &kp N0   &kp DEL
/* Row 1 */
&kp LCTRL &kp F1 &kp F2 &kp F3 &kp F4 &kp F5        &kp F6    &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
/* Row 2 */
&kp LSHFT &kp F7 &kp F8 &kp F9 &kp F10 &kp F11      &kp F12   &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE
/* Row 3 */
&kp LCTRL &kp LGUI &kp LALT &kp LANG1 &kp SPACE &trans &kp RET    &kp RET &mo ADJUST &kp SPACE &kp LANG2 &kp RALT &kp RGUI &kp RCTRL
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
/* Row 0 */
&kp GRAVE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS  &kp STAR  &kp LPAR &kp RPAR &kp DEL
/* Row 1 */
&kp LCTRL &kp HOME &kp UP   &kp END   &kp PG_UP &trans      &trans    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
/* Row 2 */
&kp LSHFT &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN &trans      &trans    &kp HOME  &kp PG_DN &kp PG_UP &kp END &trans
/* Row 3 */
&kp LCTRL &kp LGUI &kp LALT &kp LANG1 &kp SPACE &mo ADJUST &kp RET    &kp RET &trans &kp SPACE &kp LANG2 &kp RALT &kp RGUI &kp RCTRL
            >;
        };

        adjust_layer {
            label = "Adjust";
            bindings = <
/* Row 0 */
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &trans &trans &trans &trans &trans &trans
/* Row 1 */
&trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
/* Row 2 */
&trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
/* Row 3 */
&trans &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
