#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// 全てのキーを一時的に'A'に変更してテスト
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A           &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A &kp A &kp A                 &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A
&kp A &kp A &kp A &kp A &kp A &kp A                                 &kp A &kp A &kp A &kp A &kp A           &kp A &kp A &kp A
            >;
        };

        adjust_layer {
            bindings = <
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans &trans &trans &trans        &trans
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans &trans &trans               &trans
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                           &trans &trans &trans &trans &trans        &trans &trans &trans
            >;
        };
    };
};
