/*
 * Copyright (c) 2024 HaruStudio
 * SPDX-License-Identifier: MIT
 *
 * Helix Pico ZMK Shield
 * Based on QMK config: 4 rows x 7 cols per side, COL2ROW
 * ROW pins: D4, C6, D7, E6
 * COL pins: F4, F5, F6, F7, B1, B3, B2
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <7>;
        rows = <8>;
        /*
         * Physical layout (left to right):
         *
         * L=Left half (rows 0-3), R=Right half (rows 4-7)
         * Right half cols are reversed (col5→col0) due to PCB mirroring
         *
         * Row0:  L0,0  L0,1  L0,2  L0,3  L0,4  L0,5        R4,5  R4,4  R4,3  R4,2  R4,1  R4,0
         * Row1:  L1,0  L1,1  L1,2  L1,3  L1,4  L1,5        R5,5  R5,4  R5,3  R5,2  R5,1  R5,0
         * Row2:  L2,0  L2,1  L2,2  L2,3  L2,4  L2,5        R6,5  R6,4  R6,3  R6,2  R6,1  R6,0
         * Row3:  L3,0  L3,1  L3,2  L3,3  L3,4  L3,5  L3,6  R7,6  R7,5  R7,4  R7,3  R7,2  R7,1  R7,0
         */
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                         RC(4,5) RC(4,4) RC(4,3) RC(4,2) RC(4,1) RC(4,0)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                         RC(5,5) RC(5,4) RC(5,3) RC(5,2) RC(5,1) RC(5,0)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                         RC(6,5) RC(6,4) RC(6,3) RC(6,2) RC(6,1) RC(6,0)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(7,6) RC(7,5) RC(7,4) RC(7,3) RC(7,2) RC(7,1) RC(7,0)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        row-gpios
            = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D4 - row 0 */
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* C6 - row 1 */
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D7 - row 2 */
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* E6 - row 3 */
            ;
        /* col-gpios defined in left/right overlay files */
    };
};
