if SHIELD_JISPLIT89_LEFT

config ZMK_KEYBOARD_NAME
    default "Jisplit89"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JISPLIT89_LEFT || SHIELD_JISPLIT89_RIGHT

config ZMK_SPLIT
    default y

if ZMK_RGB_UNDERGLOW

config WS2812_STRIP
    default y

config SPI
    default y

endif # ZMK_RGB_UNDERGLOW

endif
